VITE_VERSION=

VITE_API_URI=
VITE_API_SCOPES=

VITE_AUTHENTICATION_PROVIDER=

VITE_ENTRA_ID_AUTHORITY=
VITE_ENTRA_ID_CLIENT_ID=
VITE_ENTRA_ID_REDIRECT_URI=

VITE_KEYCLOAK_AUTHORITY=
VITE_KEYCLOAK_CLIENT_ID=

VITE_EDGE_GATEWAY_WITH_VPN_CONTAINER_DEVICE_TYPE=
VITE_SEMS_API_URL=
VITE_VPN_CONTAINER_DEVICE_TYPE=